.TicketContainer {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100vh; /* 뷰포트 높이에 맞춤 */
}

.myTicketImage {
  max-width: 100%; /* 이미지 최대 너비 설정 */
  max-height: 100%; /* 이미지 최대 높이 설정 */
}
